<!-- <app-about></app-about>
<app-home></app-home>
<app-contact></app-contact>
<app-projects></app-projects> -->
<!-- <router-outlet /> -->
 <div class="parent">
    <nav class="nav justify-contnet-center">
        <a class="nav-link active" routerLink="/">app-home</a>
        <a class="nav-link" routerLink="/about">about</a>
        <a class="nav-link" routerLink="/projects">projects</a>
        <a class="nav-link" routerLink="/contact">contact</a>
      
       </nav>
 </div>
 
 <!-- <about></about> -->
<router-outlet></router-outlet>